.card{
  border: 1px solid black;
  border-radius: 10px;
  padding: 16px;
  box-shadow: 4px 4px black;
  text-align: center;
}

.card > h2{
  font-size: 32px;
}




.card > img{
  border-radius: 10px;
}
