#root{
  width: 100%;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
  width: 100%
}


.card{
  border: 1px solid black;
  border-radius: 10px;
  padding: 16px;
  box-shadow: 4px 4px black;
  text-align: center;
  cursor: pointer;
}

.card > h2{
  font-size: 32px;
  border-left: 6px solid #a9d3d9
}

.card > img{
  border-radius: 10px;
}

.tags{
display: flex;
flex-wrap: wrap;
gap: 8px;
margin-bottom: 24px;
max-width: 300px;
justify-content: center;


}
.tag {
  font-size: 12px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: whitesmoke;
  font-weight: bold;
  padding: 4px 12px;
  display: flex;
  justify-content: center;
}
